*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# ==========================
# NODE.JS & REACT (JavaScript/TypeScript)
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
.env
.env.*      # For environment files
